name: Orna Projeto

on:
    push:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup node
              uses: actions/setup-node@v6
              with:
                 node-version: 24
            - name: Build project
              run: npm ci
            - name: Login Docker Hub
              run: docker login -u ${{secrets.DOCKER_USERNAME}} -p ${{secrets.DOCKER_PASSWORD}}
            - name: Build docker image 
              run: docker build -t yaibadu/agro-orb-connect .
            - name: Push image docker
              run: docker push yaibadu/agro-orb-connect


           
